In [2]:
import pandas as pd
import numpy as np

In [3]:
heart_df = pd.read_csv('heart.csv')

In [4]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   270 non-null    int64
 1   sex                   270 non-null    int64
 2   pain type             270 non-null    int64
 3   BP                    270 non-null    int64
 4   cholestrol            270 non-null    int64
 5   fbs                   270 non-null    int64
 6   resting ecg           270 non-null    int64
 7   max heart rate        270 non-null    int64
 8   exercise angina       270 non-null    int64
 9   ST depression         270 non-null    float64
 10  ST slope              270 non-null    int64
 11  flouroscopy coloured  270 non-null    int64
 12  thal                  270 non-null    int64
 13  heart disease         270 non-null    int64
 14  Unnamed: 14           0 non-null      float64
dtypes: float64(2), int64(13)
memory usage: 31.8 KB

In [6]:
heart_df.head(5)

,age,sex,pain type,BP,cholestrol,fbs,resting ecg,max heart rate,exercise angina,ST depression,ST slope,flouroscopy coloured,thal,heart disease,Unnamed: 14
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2,NaN
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1,NaN
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2,NaN
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1,NaN
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1,NaN